@{
    ViewBag.Title = "Resources";
}

<!-- **Breadcrumb Section** -->
<div class="breadcrumb-section">
    <div class="container">
        <h1>Resources</h1>
        <div class="breadcrumb">
            <a href="/Home/Index" title="">Home</a> / <span>Resources</span>
        </div>
    </div>
</div>
<!-- **Breadcrumb Section Ends** -->

<div style="height:300px;"><span class="aligncenter" style="padding-top:80px;"><h3><i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Coming soon...</span></h3></span></div>