@{
    ViewBag.Title = "Colocation";
}

<style>
    input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea
    {
        background: #fff;
        border: 1px solid;
        color: #666666;
        padding: 15px;
        display: block;
        font-size: 14px;
        margin: 10px 0 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        width: 100%;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="tel"]
    {
    }

    textarea
    {
        height: 190px;
        margin: 20px 0 0;
        overflow: auto;
        resize: none;
    }
</style>
<!-- **Breadcrumb Section** -->
<div class="breadcrumb-section">
    <div class="container">
        <h1>Colocation</h1>
        <div class="breadcrumb">
            <a href="/Home/Index" title="">Home</a> / <span>Colocation</span>
        </div>
    </div>
</div>
<!-- **Breadcrumb Section Ends** -->

<!-- **Content Main** -->
<section class="content-main">
    <!-- **Container** -->
    <div class="container">
        <div>
            <center><img src="/Content/images/other/collocation.gif"  alt="feature-image"></center>
        </div>

        <div class="search-carousel-wrapper">
            <div class="search-carousel">
                <div class="caroufredsel_wrapper" style="display: block; text-align: center; float: left; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1170px; height: 150px; margin: 0px 0px 20px; overflow: visible;">
                    <ul class="frequent-loads carousel_items" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4446px; height: 150px;">
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico7-colored.png" alt="ico7-colored">*@<i class="fa fa-check-square-o" aria-hidden="true"></i></span><b>Reliability</b><p>Benefit with guaranteed 99.999% uptime guarantee enabled via our Tier III facilities </p>
                        </li>
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico7-colored.png" alt="ico7-colored">*@<i class="fa fa-database"></i></span><b>Data Sovereignty</b><p>Keep your data onshore, under your control by using our facilities within Australia</p>
                        </li>
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico5-colored.png" alt="ico5-colored">*@<i class="fa fa-thumbs-o-up"></i></span><b>Vendor Neutral</b>
                            <p>
                                Stay in full control by choosing your own provider of network or infrastructure service
                                <br />
                            </p>
                        </li>
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico6-colored.png" alt="ico6-colored">*@<i class="fa fa-check-circle"></i></span><b>Custom Solutions</b><p>Single RU or Caged Colocation, we can support it<br />
                                &nbsp;&nbsp;</p>
                        </li>
                        @* <li class="column dt-sc-one-fifth" style="width: 214px;"><a href="#" title=""><span class="ico-block">
                            <img src="/Content/images/ico5-colored.png" alt="ico5-colored"></span>How to Manage your emails &amp; accounts</a></li>
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><a href="#" title=""><span class="ico-block">
                            <img src="/Content/images/ico6-colored.png" alt="ico6-colored"></span>How to use Smart FTP Clients</a></li>
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><a href="#" title=""><span class="ico-block">
                            <img src="/Content/images/ico7-colored.png" alt="ico7-colored"></span>.htacccess tutorial</a></li>
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><a href="#" title=""><span class="ico-block">
                            <img src="/Content/images/ico6-colored.png" alt="ico6-colored"></span>Easy Mail Account Configuration</a></li>*@
                    </ul>
                </div>

                <a class="search-prev disabled" href="#" style="display: block;"><span class="fa fa-chevron-left"></span></a>
                <a class="search-next" href="#" style="display: block;"><span class="fa fa-chevron-right"></span></a>
            </div>
        </div>
        <div class="dt-sc-hr-invisible"></div>
        <div class="call-out type4">
            @*<h2>Looking for an Elegant Theme for your Business?</h2> 
                            <h4>You stumbled to the right place!</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p> *@
            @*<form name="frmnewsletter" class="newsletter-form" action="http://wedesignthemes.com/html/multihost/php/subscribe.php" method="post">*@
            @*<center><input type="text" required="" placeholder="Your Message" name="msg"></center>*@
            <p style="text-align: justify;">TechFlow offers colocation services in purpose built data centres addressing the highest industry standards around security, performance, energy efficiency and environmental control for your IT infrastructure. Our facilities meet or excel on the Tier III requirements classified by the Uptime Institute along with ISO27001 standards for security and governance. Our customers trust us to keep their data safe and onshore. </p>
            <p style="text-align: justify;">We understand that every organisation’s IT landscape if different and TechFlow’s colocation offering is tailored to meet your unique business requirement. Our service offering ranges from single RU of space and power in shared rack all the way to highly secure purpose built cage setup.</p>
            @*<input type="submit" value="Submit" class="dt-sc-button" name="btnsubscribe">*@
            @*</form>*@
            @*<a data-delay="300" data-animation="bounceIn" class="dt-sc-button medium" href="/Contact/Index">Talk to Us</a>*@
        </div>

        <div class="dt-sc-hr-invisible"></div>


        <div class="column dt-sc-full-width  first">
            
            <div class="dt-sc-titled-box  ocean">
                <h6 class="dt-sc-titled-box-title">BENEFITS</h6>
         <div class="column dt-sc-full-width ">
                            
                            <div class="dt-sc-toggle-set">
                                <div class="dt-sc-toggle-frame">
                                    <h5 class="dt-sc-toggle-accordion active"><a href="#" title="">Reliability</a></h5>	
                                    <div class="dt-sc-toggle-content">
                                        <div class="dt-sc-block">
                                            <p style="text-align: justify;">Our Colocation service is offered with a focus on up time. Our data centres around Australia are designed and built at Tier 3+ standards. This results in impeccable track record with a 99.999% uptime Guaranteed SLAs.</p></div>
                                    </div>
                                </div>
                                
                                <div class="dt-sc-toggle-frame">
                                    <h5 class="dt-sc-toggle-accordion"><a href="#" title="">Flexibility</a></h5>
                                    <div class="dt-sc-toggle-content">
                                        <div class="dt-sc-block"> <p style="text-align: justify;">With range of power, rack and security options, we can flexibly tailor our solution to fit your business requirement. </p></div>
                                    </div>
                                </div>
                                <div class="dt-sc-toggle-frame">
                                    <h5 class="dt-sc-toggle-accordion"><a href="#" title="">Scalability</a></h5>
                                    <div class="dt-sc-toggle-content">
                                        <div class="dt-sc-block">
                                            <p style="text-align: justify;">Helping our customers efficiently grow from small footprint into large custom built cage/pod solutions is our speciality.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dt-sc-toggle-frame">
                                    <h5 class="dt-sc-toggle-accordion"><a href="#" title="">Power Density</a></h5>
                                    <div class="dt-sc-toggle-content">
                                        <div class="dt-sc-block">
                                            <p style="text-align: justify;">We can easily support power density solution of 0.5kW to 10kW per rack as a standard setup. Power density of above 10kW can be supported via custom solution incorporating hot/cold aisle, active cooling and water cooled solutions.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dt-sc-toggle-frame">
                                    <h5 class="dt-sc-toggle-accordion"><a href="#" title="">Security</a></h5>
                                    <div class="dt-sc-toggle-content">
                                        <div class="dt-sc-block">
                                             <p style="text-align: justify;">Our data Centres are built to support highly secure government and enterprise customers, so we do not take security lightly. Each of our data centre is built and certified to number of security standards including ISO27001. For additional security, we can assist our customers with custom solution including motion sensor cameras, bio-metric identification, customized cage solutions and many others.</p>
                                        </div>
                                    </div>
                                </div>                             
                                <div class="dt-sc-toggle-frame last">
                                    <h5 class="dt-sc-toggle-accordion"><a href="#" title="">Easy to Operate</a></h5>
                                    <div class="dt-sc-toggle-content">
                                        <div class="dt-sc-block">
                                            <p style="text-align: justify;">We understand how customers operate in Data Centres. Ask us how we can take the pain and cost away of your requirements within the building like cross connects, structured cabling, remote hands, tape rotation, rack and stack, secured infrastructure destruction and many others.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                @*<div class="dt-sc-titled-box-content">
                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle active"><a href="#" title="">Reliability</a></h5>
                        <div class="dt-sc-toggle-content" style="display: block;">
                            <div class="dt-sc-block">
                                <p style="text-align: justify;">Our Colocation service is offered with a focus on up time. Our data centres around Australia are designed and built at Tier 3+ standards. This results in impeccable track record with a 99.999% uptime Guaranteed SLAs.</p>
                            </div>
                        </div>
                    </div>

                    <div class="dt-sc-toggle-frame">
                        <h5 class="dt-sc-toggle"><a href="#" title="">Flexibility</a></h5>
                        <div class="dt-sc-toggle-content" style="display: block;">
                            <div class="dt-sc-block">
                                <p style="text-align: justify;">With range of power, rack and security options, we can flexibly tailor our solution to fit your business requirement. </p>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-toggle-frame active">
                        <h5 class="dt-sc-toggle active"><a href="#" title="">Scalability</a></h5>
                        <div class="dt-sc-toggle-content" style="display: block;">
                            <div class="dt-sc-block">
                                <p style="text-align: justify;">Helping our customers efficiently grow from small footprint into large custom built cage/Pod solutions is our speciality.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-toggle-frame active">
                        <h5 class="dt-sc-toggle active"><a href="#" title="">Power Density</a></h5>
                        <div class="dt-sc-toggle-content" style="display: block;">
                            <div class="dt-sc-block">
                                <p style="text-align: justify;">We can easily support power density solution of 0.5kW to 10kW per rack as a standard setup. Power density of above 10kW can be supported via custom solution incorporating hot/cold aisle, active cooling and water cooled solutions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-toggle-frame active">
                        <h5 class="dt-sc-toggle active"><a href="#" title="">Security</a></h5>
                        <div class="dt-sc-toggle-content" style="display: block;">
                            <div class="dt-sc-block">
                                <p style="text-align: justify;">Our data Centres are built to support highly secure government and enterprise customers, so we do not take security lightly. Each of our data centre is built and certified to number of security standards including ISO27001. For additional security, we can assist our customers with custom solution including motion sensor cameras, biometric identification, customized cage solutions and many others.</p>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-toggle-frame active">
                        <h5 class="dt-sc-toggle active"><a href="#" title="">Easy to Operate</a></h5>
                        <div class="dt-sc-toggle-content" style="display: block;">
                            <div class="dt-sc-block">
                                <p style="text-align: justify;">We understand how customers operate in Data Centres. Ask us how we can take the pain and cost away of your requirements within the building like cross connects, structured cabling, remote hands, tape rotation, rack and stack, secured infrastructure destruction and many others.</p>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="dt-sc-hr-invisible"></div>
        <h2 class="hr-border-title"><span>Colocation Service Capability</span></h2>
        <div class="dt-sc-tabs-vertical-container">
            <ul class="dt-sc-tabs-vertical-frame dt-sc-two-sixth column first">
                <li class="first"><a href="#" class=""><span>1</span>RACK SPECS</a></li>
                <li class=""><a href="#" title="" class=""><span>2</span>POWER DENSITY</a></li>
                <li class=""><a href="#" title="" class=""><span>3</span>REDUNDANCY</a></li>
                <li class=""><a href="#" title=""><span>4</span>POWER RAILS</a></li>
                <li class=""><a href="#" title="" class=""><span>5</span>SECURITY</a></li>
                <li class="last"><a href="#" title="" class=""><span>6</span>ANALYTICS</a></li>
                <li class="last"><a href="#" title="" class=""><span>7</span>ACCESS LIST</a></li>
            </ul>

            <div class="dt-sc-tabs-vertical-frame-content dt-sc-two-third column" style="display: none;">
                <h3>RACK SPECS</h3>
                <p style="text-align: justify;"><b>Height: </b>42Ru-47Ru <br /><b>Depth: </b> 1200mm or 1000mm <br /><b>Width: </b>600mm or 800mm </p>
            </div>

            <div class="dt-sc-tabs-vertical-frame-content dt-sc-two-third column" style="display: none;">
                <h3>POWER DENSITY</h3>
                <p>0.5kW to 10kW as standard configuration.</p><p> Flexibility to support higher densities where required.</p><p>All racks are provisioned with dual redundant UPS power feeds, these can be specified to support all types of customer kit and our standard installation is a retrofittable system supporting 20Amp 32Amp single phase or 32Amp three phase power feeds as standard.</p><p> Other power provisions can be supported in consultation with the customer. </p>
            </div>

            <div class="dt-sc-tabs-vertical-frame-content dt-sc-two-third column" style="display: block;">
                <h3>REDUNDANCY</h3>
                <p style="text-align: justify;">Each rack is supported by dual UPS A and B feeds, backed by a third redundant feed for additional resilience. </p>
            </div>
            <div class="dt-sc-tabs-vertical-frame-content dt-sc-two-third column" style="display: block;">
                <h3>POWER RAILS</h3>
                <p style="text-align: justify;">Dual vertical Power rails. Standard or Intelligent PDUs can be provisioned to meet each customer’s unique requirements.</p>
            </div>
            <div class="dt-sc-tabs-vertical-frame-content dt-sc-two-third column" style="display: block;">
                <h3>SECURITY</h3>
                <p style="text-align: justify;">Second to none physical security, our partner facilities are capable of achieving high security standards like ISO27001 or ASIO T4. Our team can easily assist customers by driving the security certification process.</p>
                <p style="text-align: justify;">Apart from the standard security protocol and over seven layers of physical security preventing intruders accessing our space and customer’s racks, we can offer additional level of security to meet customer specific security and compliance requirements. </p>
            </div>
            <div class="dt-sc-tabs-vertical-frame-content dt-sc-two-third column" style="display: block;">
                <h3>ANALYTICS</h3>
                <p style="text-align: justify;">TechFlow customers get access to range of powerful analytics tools for power usage monitoring, building access metrics, connectivity monitoring for extra layer of transparency to help with predictive analysis and reporting.</p>
            </div>
            <div class="dt-sc-tabs-vertical-frame-content dt-sc-two-third column" style="display: block;">
                <h3>ACCESS LSIT</h3>
                <p style="text-align: justify;">Ensure the correct employees and contractors can access to your equipment while removing access for those who no longer need it easily via the TechFlow Customer portal available as mobile application on iPhone and Android.</p>
            </div>
        </div>

        <h2 class="hr-border-title"><span>TECHNICAL SPECIFICATIONS</span></h2>
        @* <div class="column dt-sc-full-width  first">
            <div class="dt-sc-titled-box  ocean">
                <h6 class="dt-sc-titled-box-title">TECHNICAL SPECIFICATIONS</h6>
                <div class="dt-sc-titled-box-content">*@
        <div class="dt-sc-tabs-container">
            <ul class="dt-sc-tabs-frame">
                <li><a href="#" class="">All our Data Centres</a></li>
                <li><a href="#" title="" class="current">Sydney</a></li>
                <li><a href="#" title="" class="current">Melbourne</a></li>
                <li><a href="#" title="" class="current">Brisbane</a></li>
            </ul>

            <div class="dt-sc-tabs-frame-content" style="display: none;">
                <ul class="dt-sc-fancy-list  chocolate  rounded-tick">
                    <li>Built to exceed Tier III standard</li>
                    <li>99.999% SLA-backed power and environmental conditions (temperature and humidity)</li>
                    <li>Rack Power provided from 2 kW to 10 kW as standard. Power density of above 10kW can be supported.</li>
                    <li>Please refer to the facilities brochure under each tab for technical specifications of each of our data centre.</li>

                </ul>
            </div>

            <div class="dt-sc-tabs-frame-content" style="display: block;">

                <a href="#" class="btn btn-success btn-lg">
                    <i class="fa fa-download" aria-hidden="true"></i>&nbsp;DOWNLOAD COLOCATION BROCHURE
                </a>
                @*                            <ul class="dt-sc-fancy-list  chocolate  rounded-tick">
                                <li>51,474 m2 gross area; 22,043 m2 technical area with approx. 10,000 racks</li>
                                <li>Diverse 33 kV feeds feeding a back-up power system consisting of 22 diesel rotary UPS systems.</li>
                                <li>28 WAN, Internet and Telephony providers</li>
                                <li>Uptime SLA of 99.982%, conforming to Tier 3 classification from the Uptime institute.</li>
                            </ul>*@
            </div>
            <div class="dt-sc-tabs-frame-content" style="display: block;">
                <a href="#" class="btn btn-success btn-lg">
                    <i class="fa fa-download" aria-hidden="true"></i>&nbsp;DOWNLOAD COLOCATION BROCHURE
                </a>
                @*    <ul class="dt-sc-fancy-list  chocolate  rounded-tick">
                                <li>17500 m2 gross area with 3000 rack spaces plus 100 equivalent high density inline cooling PODs</li>
                                <li>Up to 1,500 watts/m2 power for air-conditioning</li>
                                <li>Uptime SLA of 99.982%, conforming to Tier 3 classification from the Uptime institute.</li>
                                <li>Get up to 6 months free colocation in our Melbourne Data Centre</li>
                            </ul>*@
            </div>
            <div class="dt-sc-tabs-frame-content" style="display: block;">
                <a href="#" class="btn btn-success btn-lg">
                    <i class="fa fa-download" aria-hidden="true"></i>&nbsp;DOWNLOAD COLOCATION BROCHURE
                </a>
                @*    <ul class="dt-sc-fancy-list  chocolate  rounded-tick">
                                <li>17500 m2 gross area with 3000 rack spaces plus 100 equivalent high density inline cooling PODs</li>
                                <li>Up to 1,500 watts/m2 power for air-conditioning</li>
                                <li>Uptime SLA of 99.982%, conforming to Tier 3 classification from the Uptime institute.</li>
                                <li>Get up to 6 months free colocation in our Melbourne Data Centre</li>
                            </ul>*@
            </div>
        </div>
        <div class="dt-sc-hr-invisible"></div>
            <a href="#">
            <div class="column dt-sc-one-second first">
                <div class="ico-content-wrapper type2">
                    <div class="ico-content">
                        <span class="fa fa-download"></span>
                        <h3>Download Brochure</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>

    @*     </div>
        </div>
    </div>*@
</section>
