@{
    ViewBag.Title = "Rack and Stack";
}


<!-- **Breadcrumb Section** -->
<div class="breadcrumb-section">
    <div class="container">
        <h1>Rack and Stack</h1>
        <div class="breadcrumb">
            <a href="/Home/Index" title="">Home</a> / <span>Rack and Stack</span>
        </div>
    </div>
</div>
<!-- **Breadcrumb Section Ends** -->

<!-- **Content Main** -->
<section class="content-main">
    <!-- **Container** -->
    <div class="container">
           <div>
            <center><img src="/Content/images/other/rack.jpg" height="250px" width="98%" alt="feature-image"></center>
        </div>
        <div class="dt-sc-hr-invisible"></div>
        <div class="search-carousel-wrapper">
            <div class="search-carousel">
                <div class="caroufredsel_wrapper" style="display: block; text-align: center; float: left; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1170px; height: 150px; margin: 0px 0px 20px; overflow: visible;">
                    <ul class="frequent-loads carousel_items" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4446px; height: 150px;">
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico7-colored.png" alt="ico7-colored">*@<i class="fa fa-shield" aria-hidden="true"></i></span><b>Low Risk Approach</b><p>Our Rack and Stack service is offered by experienced techs who follows industry best practice approach</p>
                        </li>
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico7-colored.png" alt="ico7-colored">*@<i class="fa fa-check-square-o" aria-hidden="true"></i></span><b>Easy to manage</b><p>Turnkey solution supported with detailed documentation post implementation for easy of management </p>
                        </li>
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico5-colored.png" alt="ico5-colored">*@<i class="fa fa-usd"></i></span><b>Low Cost</b>
                            <p>
                                Save your valuable time & resources and let us handle the work for you at fraction of the cost<br />&nbsp;
                                
                            </p>
                        </li>
                    </ul>
                </div>

                <a class="search-prev disabled" href="#" style="display: block;"><span class="fa fa-chevron-left"></span></a>
                <a class="search-next" href="#" style="display: block;"><span class="fa fa-chevron-right"></span></a>
            </div>
        </div>
        <div class="dt-sc-hr-invisible"></div>
        <div class="call-out type4">
            @*<h2>Looking for an Elegant Theme for your Business?</h2> 
                            <h4>You stumbled to the right place!</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p> *@
            @*<form name="frmnewsletter" class="newsletter-form" action="http://wedesignthemes.com/html/multihost/php/subscribe.php" method="post">*@
            @*<center><input type="text" required="" placeholder="Your Message" name="msg"></center>*@
            <p style="text-align: justify;">Moving into TechFlow data Centres could not be easier.</p>
            <p style="text-align: justify;">With an aim to make it easy for our customers to move into one of our data Centres, save them time and cost and help them reduce risk we offer our rack and stack service in our data Centres at aggressive pricing. </p>
            <p style="text-align: justify;">Save your IT resources and avoid the hassle of traveling to our data Centre to rack and stack your IT infrastructure in the racks. Our professional staff can receive the delivery of your infrastructure, check it against the orders and rack and stack it equipment into your rack as per agreed design on industry best practice. Color coded structured cabling is off course part of our service. Our trained data Centre experts can also help you design the rack, mount your gear, perform cabling as per your requirement, verify high-availability configuration and power up your equipment. </p>
            <p style="text-align: justify;">Upon completion, detailed rack and cabling layout diagram is provided back to customer for recording purpose to simplify ongoing support. </p>
            <ul class="dt-sc-fancy-list  chocolate  rounded-tick" style="float:left;text-align:left;">
                <li>Rack layout design and recommendations as per best practice</li>
                <li>Accept delivery of goods in our data Centre</li>
                <li>Inventory check, labeling, and serial number recording</li>
                <li>Assembly and rack mounting</li>
                <li>Intra-cabinet cabling as agreed design (color coded cabling if required)</li>
                <li>Documentation of layout and cable runs</li>
                <li>Rubbish removal and full destruction of retired equipment </li>
            </ul>
            @*<input type="submit" value="Submit" class="dt-sc-button" name="btnsubscribe">*@
            @*</form>*@
            @*<a data-delay="300" data-animation="bounceIn" class="dt-sc-button medium" href="/Contact/Index">Talk to Us</a>*@
        </div>

        <div class="dt-sc-hr-invisible"></div>


           
            <a href="#">
            <div class="column dt-sc-one-second first">
                <div class="ico-content-wrapper type2">
                    <div class="ico-content">
                        <span class="fa fa-download"></span>
                        <h3>Download Brochure</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>
