@{
    ViewBag.Title = "Remote Hands";
}


<!-- **Breadcrumb Section** -->
<div class="breadcrumb-section">
    <div class="container">
        <h1>Remote Hands</h1>
        <div class="breadcrumb">
            <a href="/Home/Index" title="">Home</a> / <span>Remote Hands</span>
        </div>
    </div>
</div>
<!-- **Breadcrumb Section Ends** -->

<!-- **Content Main** -->
<section class="content-main">
    <!-- **Container** -->
    <div class="container">
           <div>
            <center><img src="/Content/images/other/RH.jpg" height="250px" width="98%" alt="feature-image"></center>
        </div>
        <div class="dt-sc-hr-invisible"></div>
        <div class="search-carousel-wrapper">
            <div class="search-carousel">
                <div class="caroufredsel_wrapper" style="display: block; text-align: center; float: left; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1170px; height: 150px; margin: 0px 0px 20px; overflow: visible;">
                    <ul class="frequent-loads carousel_items" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4446px; height: 150px;">
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico7-colored.png" alt="ico7-colored">*@<i class="fa fa-user" aria-hidden="true"></i></span><b>Immediate Human Response</b>
                            <p>We operate in close proximity of your data Centre to be on the ground at moment’s notice<br />&nbsp;</p>
                        </li>
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico5-colored.png" alt="ico5-colored">*@<i class="fa fa-users"></i></span><b>Smart real people</b>
                            <p>
                                 We’ve trained and skilled engineers assisting your team to get best results, quickly.<br />&nbsp;
                                
                            </p>
                        </li>
                          <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico5-colored.png" alt="ico5-colored">*@<i class="fa fa-truck"></i></span><b>Shipment handling</b>
                            <p>
                                We can unpack, document, and store or mount your incoming shipments<br />&nbsp;
                                
                            </p>
                        </li>
                    </ul>
                </div>

                <a class="search-prev disabled" href="#" style="display: block;"><span class="fa fa-chevron-left"></span></a>
                <a class="search-next" href="#" style="display: block;"><span class="fa fa-chevron-right"></span></a>
            </div>
        </div>
        
        <div class="dt-sc-hr-invisible"></div>
                                <div class="dt-sc-clear"></div>     
        <div class="call-out type4">
            @*<h2>Looking for an Elegant Theme for your Business?</h2> 
                            <h4>You stumbled to the right place!</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p> *@
            @*<form name="frmnewsletter" class="newsletter-form" action="http://wedesignthemes.com/html/multihost/php/subscribe.php" method="post">*@
            @*<center><input type="text" required="" placeholder="Your Message" name="msg"></center>*@
            <p style="text-align: justify;">We understand that customers often require simple onsite support in data Centres for ongoing troubleshooting, maintenance or installation. Our qualified technicians are trained to be your eyes and hands, on the ground to help you effectively manage your infrastructure 24x7x365. TechFlow Remote Hands service is professional technical assistance at a moment’s notice and essentially an extension of your IT department. It is a simple and convenient way to access your equipment without having to physically come to the data Centre. </p>
           <h5><b>Just give us a call and we’ll perform the tasks for you — we’ve got you covered.</b></h5><br />
            <p  style="text-align: justify;">TechFlow provides a wide range of remote hands service and our service can be easily offered on a pay per use or via a different commercial arrangement.</p>
            <h5 style="float:left;"><b>Typical activities performed as a Remote Hands Service are :</b></h5><br />
            
            <ul class="dt-sc-fancy-list chocolate rounded-tick" style="text-align: left;">
                <br />
                <li>Infrastructure Power Cycle</li>
                <li>Checking and/or patching of cables</li>
                <li>Hardware and Spare part replacement</li>
                <li>Tape Rotation</li>
                <li>Receiving of goods at Data Centre</li>
                <li>Shipping of old items to customer office as instructed</li>
                <li>Storage of equipment</li>
                <li>Rack and Stack</li>
                <li>Audit of physical infrastructure including digital pictures of your cabinet </li>
            </ul>
            @*<input type="submit" value="Submit" class="dt-sc-button" name="btnsubscribe">*@
            @*</form>*@
            @*<a data-delay="300" data-animation="bounceIn" class="dt-sc-button medium" href="/Contact/Index">Talk to Us</a>*@
        </div>

        

 <div class="dt-sc-hr-invisible"></div>


           
            <a href="#">
            <div class="column dt-sc-one-second first">
                <div class="ico-content-wrapper type2">
                    <div class="ico-content">
                        <span class="fa fa-download"></span>
                        <h3>Download Brochure</h3>
                    </div>
                </div>
            </div>
        </a>

    </div>
</section>
