@{
    ViewBag.Title = "Secured Rubbish Removal";
}


<!-- **Breadcrumb Section** -->
<div class="breadcrumb-section">
    <div class="container">
        <h1>Secured Rubbish Removal</h1>
        <div class="breadcrumb">
            <a href="/Home/Index" title="">Home</a> / <span>Secured Rubbish Removal</span>
        </div>
    </div>
</div>
<!-- **Breadcrumb Section Ends** -->

<!-- **Content Main** -->
<section class="content-main">
    <!-- **Container** -->
    <div class="container">
           <div>
            <center><img src="/Content/images/other/RR.jpg" width="98%" height="270px" alt="feature-image"></center>
        </div>
        <div class="dt-sc-hr-invisible"></div>
        <div class="search-carousel-wrapper">
            <div class="search-carousel">
                <div class="caroufredsel_wrapper" style="display: block; text-align: center; float: left; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1170px; height: 150px; margin: 0px 0px 20px; overflow: visible;">
                    <ul class="frequent-loads carousel_items" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4446px; height: 150px;">
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico7-colored.png" alt="ico7-colored">*@<i class="fa fa-shield" aria-hidden="true"></i></span><b>Reduce Risk</b>
                            <p>By utilizing our low cost service for fraction of your internal cost</p>
                        </li>
                        <li class="column dt-sc-one-fifth" style="width: 214px;"><span class="ico-block">
                            @*<img src="/Content/images/ico5-colored.png" alt="ico5-colored">*@<i class="fa fa-usd"></i></span><b>Reduce Cost</b>
                            <p>
                                By avoiding risk of data leakage and adhering to compliance requirements 
                                
                            </p>
                        </li>
                    </ul>
                </div>

                <a class="search-prev disabled" href="#" style="display: block;"><span class="fa fa-chevron-left"></span></a>
                <a class="search-next" href="#" style="display: block;"><span class="fa fa-chevron-right"></span></a>
            </div>
        </div>
        @*<div class="dt-sc-hr-invisible"></div>*@
        <div class="call-out type4">
            @*<h2>Looking for an Elegant Theme for your Business?</h2> 
                            <h4>You stumbled to the right place!</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p> *@
            @*<form name="frmnewsletter" class="newsletter-form" action="http://wedesignthemes.com/html/multihost/php/subscribe.php" method="post">*@
            @*<center><input type="text" required="" placeholder="Your Message" name="msg"></center>*@
            <p style="text-align: justify;">TechFlow data Centres are operated with best practice industry standards. We can easily take care of disposal of your rubbish to reduce the risk associated with fire hazard or information leakage. Don’t waste your valuable time disposing old hardware, cables, spares or unnecessary boxes and packaging in our buildings. Our staff can easily pick up the unnecessary items, destruct them as required and dispose them safely for a nominal cost. Secure and certified shredding of your data and hard drives or labels on your infrastructure is taken care of easily by our secured data destruction service.</p>
           <h5 style="float:left;"><b>Key highlights of our service :</b></h5><br />
            <ul class="dt-sc-fancy-list  chocolate  rounded-tick" style="text-align: left;">
                <br />
                <li>Pick up and dispose cardboard boxes and packaging material</li>
                <li>Pick up and dispose hardware, spare parts and unnecessary cables</li>
                <li>Destruction of hard-drives and infrastructure via methods including physical destruction, dismantling of parts </li>
                <li>On-Site Shredding of key parts like hard drives to avoid any potential of data leakage</li>
                <li>Certificate and photos of data submitted to help ensure compliance with industry security regulations</li>   
            </ul>
            @*<input type="submit" value="Submit" class="dt-sc-button" name="btnsubscribe">*@
            @*</form>*@
            @*<a data-delay="300" data-animation="bounceIn" class="dt-sc-button medium" href="/Contact/Index">Talk to Us</a>*@
        </div>

        <div class="dt-sc-hr-invisible"></div>

        
            <a href="#">
            <div class="column dt-sc-one-second first">
                <div class="ico-content-wrapper type2">
                    <div class="ico-content">
                        <span class="fa fa-download"></span>
                        <h3>Download Brochure</h3>
                    </div>
                </div>
            </div>
        </a>

    </div>
</section>
